.banner-text{
	padding-top: 250px;
	text-align: center;
	font-size: 40px;
	color: white;
	text-transform: uppercase;
}
.animsition a{
	color: black;
	padding-left: 15px;
	text-decoration: none;
	
}